*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: aqua;
}
.container{
    width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}
.container button{
    width: 70px;
    height: 30px;
    background-color: orangered;
    color: rgb(18, 18, 18);
    font-size: 20px;
    border-radius: 6px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
textarea{
    height: 250px;
    background-color: silver;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid black;
    font-size: 18px;
    padding: 10px;
}
.textArea p{
    font-size: 20px;
    margin-top: 10px;
}